@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
:root {
  --bg1-:#171718;
  --bg2-:#1C1E22;
  --blanco-:#FFFFFF;
  --border-:#26292D;
  --primary-:#5C62EC;
  --hover-:#3C40AE;
  --acento-:#85BFD1;
  --gris:#A0A0A1;
}

* {
  box-sizing: border-box;
  font-family: 'Quicksand',sans-serif;
  scroll-behavior: smooth;
  list-style: none;
}

body {
  margin: 0;
  background-color: var(--bg1-);
}